<a href="https://colab.research.google.com/github/marcelorandolfo/data-science/blob/master/processamento_dados_uci_heart_disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Processamento de dados - UCI: Heart disease

Esse *notebook* tem como objetivo demonstrar como processar os dados disponibilizados pela *University of California, Irvine* através do [Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). O *dataset* utilizado é sobre doenças cardiovasculares, e algumas informações sobre esse *dataset* podem ser obtidas neste [link](https://archive.ics.uci.edu/ml/datasets/heart+Disease).

Ao acessar o link acima, estaremos na página principal do *dataset* sobre doenças cardiovasculares. Para obter os dados e as informações sobre as variáveis, basta acessar a página [*Data Folder*](https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/). 

<center><img src='https://raw.githubusercontent.com/marcelorandolfo/data-science/master/images/uci_heart_disease_page.jpg'width='9500px' ></center>

Acessando o *Data Folder* temos todos os dados relacionados a doenças cardiovasculares disponibilizados pela iniciativa. Usaremos apenas dois arquivos:

* `heart-disease.names`: dicionário de variáveis.
* `processed.cleveland.data`: *dataset*.

<center><img src = 'https://raw.githubusercontent.com/marcelorandolfo/data-science/master/images/uci_heart_disease_datafolder.jpg' width = '9500px'></center>

O *dataset* principal do projeto possui 76 variáveis, mas o *dataset* de Cleveland que iremos utilizar só possui 14. A razão disso é que os principais experimentos publicados utilizam essa subamostra de 14 atributos. Além disso, o *dataset* de Cleveland é o único que tem sido usado até então em projetos de *Machine Learning*. Essas informações estão todas na página principal do projeto.

O *dataset* utilizado, bem como seu dicionário de variáveis, não estão disponíveis em formato `csv`, o *dataset* está em formato `.data` e o dicionário está em formato `.names`. Com formatos diferentes, é interessante conhecer como trabalhar com esses tipos de arquivos.

## Dicionário de variáveis

Para lermos as informações dentro do dicionário de variáveis, iremos utilizar o pacote `requests` e a função `requests.get` para ler o arquivo que está no diretório do [Github](https://raw.githubusercontent.com/marcelorandolfo/data-science/master/data/heart-disease.names). Caso queira, é possível também ler o arquivo através da função `open`, mas o arquivo deve estar no mesmo diretório que está sendo usado. A função `open` não funciona com arquivos instanciados em diretórios virtuais.

In [0]:
import requests

link = "https://raw.githubusercontent.com/marcelorandolfo/data-science/master/data/heart-disease.names"
f = requests.get(link)
print(f.text)

Publication Request:
   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
   This file describes the contents of the heart-disease directory.

   This directory contains 4 databases concerning heart disease diagnosis.
   All attributes are numeric-valued.  The data was collected from the
   four following locations:

     1. Cleveland Clinic Foundation (cleveland.data)
     2. Hungarian Institute of Cardiology, Budapest (hungarian.data)
     3. V.A. Medical Center, Long Beach, CA (long-beach-va.data)
     4. University Hospital, Zurich, Switzerland (switzerland.data)

   Each database has the same instance format.  While the databases have 76
   raw attributes, only 14 of them are actually used.  Thus I've taken the
   liberty of making 2 copies of each database: one with all the attributes
   and 1 with the 14 attributes actually used in past experiments.

   The authors of the databases have requested:

      ...that any publications resulting from the use of the data include the
      names of the principal investigator responsible for the data collection
      at each institution.  They would be:

       1. Hungarian Institute of Cardiology. Budapest: Andras Janosi, M.D.
       2. University Hospital, Zurich, Switzerland: William Steinbrunn, M.D.
       3. University Hospital, Basel, Switzerland: Matthias Pfisterer, M.D.
       4. V.A. Medical Center, Long Beach and Cleveland Clinic Foundation:
	  Robert Detrano, M.D., Ph.D.

   Thanks in advance for abiding by this request.

   David Aha
   July 22, 1988
   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

1. Title: Heart Disease Databases

2. Source Information:
   (a) Creators:
       -- 1. Hungarian Institute of Cardiology. Budapest: Andras Janosi, M.D.
       -- 2. University Hospital, Zurich, Switzerland: William Steinbrunn, M.D.
       -- 3. University Hospital, Basel, Switzerland: Matthias Pfisterer, M.D.
       -- 4. V.A. Medical Center, Long Beach and Cleveland Clinic Foundation:
             Robert Detrano, M.D., Ph.D.
   (b) Donor: David W. Aha (aha@ics.uci.edu) (714) 856-8779
   (c) Date: July, 1988

3. Past Usage:
    1. Detrano,~R., Janosi,~A., Steinbrunn,~W., Pfisterer,~M., Schmid,~J.,
       Sandhu,~S., Guppy,~K., Lee,~S., \& Froelicher,~V. (1989).  {\it
       International application of a new probability algorithm for the
       diagnosis of coronary artery disease.}  {\it American Journal of
       Cardiology}, {\it 64},304--310.
       -- International Probability Analysis
       -- Address: Robert Detrano, M.D.
                   Cardiology 111-C
                   V.A. Medical Center
                   5901 E. 7th Street
                   Long Beach, CA 90028
       -- Results in percent accuracy: (for 0.5 probability threshold)
             Data Name:  CDF    CADENZA
          -- Hungarian   77     74
             Long beach  79     77
             Swiss       81     81
          -- Approximately a 77% correct classification accuracy with a
             logistic-regression-derived discriminant function
    2. David W. Aha & Dennis Kibler
       --


          -- Instance-based prediction of heart-disease presence with the
             Cleveland database
             -- NTgrowth: 77.0% accuracy
             --       C4: 74.8% accuracy
    3. John Gennari
       -- Gennari, J.~H., Langley, P, \& Fisher, D. (1989). Models of
          incremental concept formation. {\it Artificial Intelligence, 40},
          11--61.
       -- Results:
          -- The CLASSIT conceptual clustering system achieved a 78.9% accuracy
             on the Cleveland database.

4. Relevant Information:
     This database contains 76 attributes, but all published experiments
     refer to using a subset of 14 of them.  In particular, the Cleveland
     database is the only one that has been used by ML researchers to
     this date.  The "goal" field refers to the presence of heart disease
     in the patient.  It is integer valued from 0 (no presence) to 4.
     Experiments with the Cleveland database have concentrated on simply
     attempting to distinguish presence (values 1,2,3,4) from absence (value
     0).

     The names and social security numbers of the patients were recently
     removed from the database, replaced with dummy values.

     One file has been "processed", that one containing the Cleveland
     database.  All four unprocessed files also exist in this directory.

5. Number of Instances:
        Database:    # of instances:
          Cleveland: 303
          Hungarian: 294
        Switzerland: 123
      Long Beach VA: 200

6. Number of Attributes: 76 (including the predicted attribute)

7. Attribute Information:
   -- Only 14 used
      -- 1. #3  (age)
      -- 2. #4  (sex)
      -- 3. #9  (cp)
      -- 4. #10 (trestbps)
      -- 5. #12 (chol)
      -- 6. #16 (fbs)
      -- 7. #19 (restecg)
      -- 8. #32 (thalach)
      -- 9. #38 (exang)
      -- 10. #40 (oldpeak)
      -- 11. #41 (slope)
      -- 12. #44 (ca)
      -- 13. #51 (thal)
      -- 14. #58 (num)       (the predicted attribute)

   -- Complete attribute documentation:
      1 id: patient identification number
      2 ccf: social security number (I replaced this with a dummy value of 0)
      3 age: age in years
      4 sex: sex (1 = male; 0 = female)
      5 painloc: chest pain location (1 = substernal; 0 = otherwise)
      6 painexer (1 = provoked by exertion; 0 = otherwise)
      7 relrest (1 = relieved after rest; 0 = otherwise)
      8 pncaden (sum of 5, 6, and 7)
      9 cp: chest pain type
        -- Value 1: typical angina
        -- Value 2: atypical angina
        -- Value 3: non-anginal pain
        -- Value 4: asymptomatic
     10 trestbps: resting blood pressure (in mm Hg on admission to the
        hospital)
     11 htn
     12 chol: serum cholestoral in mg/dl
     13 smoke: I believe this is 1 = yes; 0 = no (is or is not a smoker)
     14 cigs (cigarettes per day)
     15 years (number of years as a smoker)
     16 fbs: (fasting blood sugar > 120 mg/dl)  (1 = true; 0 = false)
     17 dm (1 = history of diabetes; 0 = no such history)
     18 famhist: family history of coronary artery disease (1 = yes; 0 = no)
     19 restecg: resting electrocardiographic results
        -- Value 0: normal
        -- Value 1: having ST-T wave abnormality (T wave inversions and/or ST
                    elevation or depression of > 0.05 mV)
        -- Value 2: showing probable or definite left ventricular hypertrophy
                    by Estes' criteria
     20 ekgmo (month of exercise ECG reading)
     21 ekgday(day of exercise ECG reading)
     22 ekgyr (year of exercise ECG reading)
     23 dig (digitalis used furing exercise ECG: 1 = yes; 0 = no)
     24 prop (Beta blocker used during exercise ECG: 1 = yes; 0 = no)
     25 nitr (nitrates used during exercise ECG: 1 = yes; 0 = no)
     26 pro (calcium channel blocker used during exercise ECG: 1 = yes; 0 = no)
     27 diuretic (diuretic used used during exercise ECG: 1 = yes; 0 = no)
     28 proto: exercise protocol
          1 = Bruce
          2 = Kottus
          3 = McHenry
          4 = fast Balke
          5 = Balke
          6 = Noughton
          7 = bike 150 kpa min/min  (Not sure if "kpa min/min" is what was
              written!)
          8 = bike 125 kpa min/min
          9 = bike 100 kpa min/min
         10 = bike 75 kpa min/min
         11 = bike 50 kpa min/min
         12 = arm ergometer
     29 thaldur: duration of exercise test in minutes
     30 thaltime: time when ST measure depression was noted
     31 met: mets achieved
     32 thalach: maximum heart rate achieved
     33 thalrest: resting heart rate
     34 tpeakbps: peak exercise blood pressure (first of 2 parts)
     35 tpeakbpd: peak exercise blood pressure (second of 2 parts)
     36 dummy
     37 trestbpd: resting blood pressure
     38 exang: exercise induced angina (1 = yes; 0 = no)
     39 xhypo: (1 = yes; 0 = no)
     40 oldpeak = ST depression induced by exercise relative to rest
     41 slope: the slope of the peak exercise ST segment
        -- Value 1: upsloping
        -- Value 2: flat
        -- Value 3: downsloping
     42 rldv5: height at rest
     43 rldv5e: height at peak exercise
     44 ca: number of major vessels (0-3) colored by flourosopy
     45 restckm: irrelevant
     46 exerckm: irrelevant
     47 restef: rest raidonuclid (sp?) ejection fraction
     48 restwm: rest wall (sp?) motion abnormality
        0 = none
        1 = mild or moderate
        2 = moderate or severe
        3 = akinesis or dyskmem (sp?)
     49 exeref: exercise radinalid (sp?) ejection fraction
     50 exerwm: exercise wall (sp?) motion
     51 thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
     52 thalsev: not used
     53 thalpul: not used
     54 earlobe: not used
     55 cmo: month of cardiac cath (sp?)  (perhaps "call")
     56 cday: day of cardiac cath (sp?)
     57 cyr: year of cardiac cath (sp?)
     58 num: diagnosis of heart disease (angiographic disease status)
        -- Value 0: < 50% diameter narrowing
        -- Value 1: > 50% diameter narrowing
        (in any major vessel: attributes 59 through 68 are vessels)
     59 lmt
     60 ladprox
     61 laddist
     62 diag
     63 cxmain
     64 ramus
     65 om1
     66 om2
     67 rcaprox
     68 rcadist
     69 lvx1: not used
     70 lvx2: not used
     71 lvx3: not used
     72 lvx4: not used
     73 lvf: not used
     74 cathef: not used
     75 junk: not used
     76 name: last name of patient
	(I replaced this with the dummy string "name")

9. Missing Attribute Values: Several.  Distinguished with value -9.0.

10. Class Distribution:
        Database:      0   1   2   3   4 Total
          Cleveland: 164  55  36  35  13   303
          Hungarian: 188  37  26  28  15   294
        Switzerland:   8  48  32  30   5   123
      Long Beach VA:  51  56  41  42  10   200

No dicionário de variáveis, estão também informações dos pesquisadores responsáveis pelo *dataset* e sobre pesquisas já feitas utilizando esses dados. Mas a informação mais importante é sobre as 14 variáveis presentes no *dataset* de Cleveland, que são: 

1. `age`
2. `sex`       
3. `cp`        
4. `trestbps`  
5. `chol`      
6. `fbs`       
7. `restecg`   
8. `thalach`   
9. `exang`     
10. `oldpeak`   
11. `slope`     
12. `ca`        
13. `thal`      
14. `num`  

O significado de cada uma não é importante agora, somente o nome e a ordem das variáveis.

## *Dataset*

É importante saber quais são os nomes das variáveis e a ordem delas, pois ao abrir o *dataset*, podemos perceber que não há nomes nas colunas. Tanto que ao utilizar a função `pd.read_csv()`, a primeira entrada das informações foi utilizada como se fosse o nome.

**Obs.:** A função `pd.read_csv()` foi utilizada para abrir o arquivo `.data`, pois o mesmo estava estruturado como um arquivo `csv`. Se não estivesse, teriamos que utilizar outro método para converter os dados em um `DataFrame`.

In [0]:
import pandas as pd

data = 'https://raw.githubusercontent.com/marcelorandolfo/data-science/master/data/processed.cleveland.data'
df = pd.read_csv(data)
df

     63.0  1.0  1.0.1  145.0  233.0  1.0.2  ...  0.0  2.3  3.0  0.0.1  6.0  0
0    67.0  1.0    4.0  160.0  286.0    0.0  ...  1.0  1.5  2.0    3.0  3.0  2
1    67.0  1.0    4.0  120.0  229.0    0.0  ...  1.0  2.6  2.0    2.0  7.0  1
2    37.0  1.0    3.0  130.0  250.0    0.0  ...  0.0  3.5  3.0    0.0  3.0  0
3    41.0  0.0    2.0  130.0  204.0    0.0  ...  0.0  1.4  1.0    0.0  3.0  0
4    56.0  1.0    2.0  120.0  236.0    0.0  ...  0.0  0.8  1.0    0.0  3.0  0
..    ...  ...    ...    ...    ...    ...  ...  ...  ...  ...    ...  ... ..
297  45.0  1.0    1.0  110.0  264.0    0.0  ...  0.0  1.2  2.0    0.0  7.0  1
298  68.0  1.0    4.0  144.0  193.0    1.0  ...  0.0  3.4  2.0    2.0  7.0  2
299  57.0  1.0    4.0  130.0  131.0    0.0  ...  1.0  1.2  2.0    1.0  7.0  3
300  57.0  0.0    2.0  130.0  236.0    0.0  ...  0.0  0.0  2.0    1.0  3.0  1
301  38.0  1.0    3.0  138.0  175.0    0.0  ...  0.0  0.0  1.0      ?  3.0  0

[302 rows x 14 columns]

Para corrigir esse erro, temos que importar o arquivo e indicar na função que nos dados não há cabeçalho (*header*). Além disso, se observarmos a última linha do `DataFrame`, é possível perceber um ponto de interrogação. Claramente essa informação é um dado ausente, `NaN` (*not a number*), logo, temos que indicar também na função que considere os pontos de interrogação como `NaN`.

In [0]:
df = pd.read_csv(data, header = None, na_values='?')
df

       0    1    2      3      4    5    6      7    8    9    10   11   12  13
0    63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1    67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2    67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3    37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4    41.0  0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0
..    ...  ...  ...    ...    ...  ...  ...    ...  ...  ...  ...  ...  ...  ..
298  45.0  1.0  1.0  110.0  264.0  0.0  0.0  132.0  0.0  1.2  2.0  0.0  7.0   1
299  68.0  1.0  4.0  144.0  193.0  1.0  0.0  141.0  0.0  3.4  2.0  2.0  7.0   2
300  57.0  1.0  4.0  130.0  131.0  0.0  0.0  115.0  1.0  1.2  2.0  1.0  7.0   3
301  57.0  0.0  2.0  130.0  236.0  0.0  2.0  174.0  0.0  0.0  2.0  1.0  3.0   1
302  38.0  1.0  3.0  138.0  175.0  0.0  0.0  173.0  0.0  0.0  1.0  NaN  3.0   0

[303 rows x 14 columns]

De acordo com o dicionário de variáveis, o *dataset* de Cleveland, possui 14 variáveis e 303 entradas, que é exatamente o tamanho do nosso `DataFrame`. 

Como dito anteriormente, é importante conhecer o nome e a ordem das variáveis, e a razão disso é para que possamos atribuir a cada coluna o atributo certo. Trocar a ordem ou algum nome traria problemas sérios na hora de analisar os dados.

In [0]:
df.columns = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']
df

      age  sex   cp  trestbps   chol  ...  oldpeak  slope   ca  thal  num
0    63.0  1.0  1.0     145.0  233.0  ...      2.3    3.0  0.0   6.0    0
1    67.0  1.0  4.0     160.0  286.0  ...      1.5    2.0  3.0   3.0    2
2    67.0  1.0  4.0     120.0  229.0  ...      2.6    2.0  2.0   7.0    1
3    37.0  1.0  3.0     130.0  250.0  ...      3.5    3.0  0.0   3.0    0
4    41.0  0.0  2.0     130.0  204.0  ...      1.4    1.0  0.0   3.0    0
..    ...  ...  ...       ...    ...  ...      ...    ...  ...   ...  ...
298  45.0  1.0  1.0     110.0  264.0  ...      1.2    2.0  0.0   7.0    1
299  68.0  1.0  4.0     144.0  193.0  ...      3.4    2.0  2.0   7.0    2
300  57.0  1.0  4.0     130.0  131.0  ...      1.2    2.0  1.0   7.0    3
301  57.0  0.0  2.0     130.0  236.0  ...      0.0    2.0  1.0   3.0    1
302  38.0  1.0  3.0     138.0  175.0  ...      0.0    1.0  NaN   3.0    0

[303 rows x 14 columns]

Agora o *dataset* está corretamente estruturado, outras correções necessárias deverão ser feitas conforme o objetivo ao utilizar esses dados. 

Por fim, o *dataset* será exportado em formato `csv`.

In [0]:
df.to_csv("/content/heart_disease.csv", index = False)

Caso você replique o código anterior, será criado um arquivo `csv` no seu *localhost*. Você pode utilizá-lo ou baixar o arquivo diretamente do meu diretório no [Github](https://github.com/marcelorandolfo/data-science/blob/master/data/heart_disease.csv).